.pythoncourses{
    /* margin: 20px; */
    border: 1px transparent solid;
    justify-content: center;
    align-items: center;
    max-width: 280px;
    min-height: 400px;
    text-align: center;
    position: relative;
    top: 120px;
    left: 20px;
    padding-top: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
}

.pythoncourses img{
    position: relative;
    width: 90%;
    height: auto;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.pythoncourses a{
    text-align: center;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: large;
    font: bold;
    color: #fff;
    margin: 10px;
    border: transparent  2px solid;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.7s;
    opacity: 0.5;
    padding: 10px;
    background-color: rgb(243, 74, 74);
}

.pythoncourses a:hover{
    transition: 0.7s;
    opacity: 0.8;
}