.footer {
    position: relative;
    top: 30px;
}
.footer{
    width: 100%;   
    background-color: #212529;
    font-family: sans-serif;
    justify-content: center;
}

.anchor2{
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.anchor2 a{
    font-size: small;
    margin-right: 100px;
    top: 150px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 10px;
    color: white;
    margin: 0.1px;
    transition: 0.7s;
}


.anchor2 a:hover{
    transition: 0.7s;
}