body{
    transition: 1s;
}

.anchor{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.anchor a{
    position: relative;
    top: 150px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 10px;
    color: white;
    font-size: large;
    font: bold;
    margin: 10px;
    border: transparent  2px solid;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 0.7s;
    opacity: 0.5;
}


.anchor a:hover{
    transition: 0.7s;
    opacity: 0.8;
}

.anchor a:nth-child(1){
    background-color: rgb(18, 165, 18);
}

.anchor a:nth-child(2){
    background-color: rgb(243, 74, 74);
}

.anchor a:nth-child(3){
    background-color: rgb(49, 165, 238);
}

.logoD .take p{
    display: flex;
    flex-wrap: wrap;
}